.student-cell {
    text-align: center;
}

.student-name {
    font-weight: bold;
}

.student-date {
    font-size: 12px;
    color: #888;
}

.assignment-header {
    text-align: center;
}

.assignment-max-score {
    font-size: 12px;
    color: #888;
}

.grade-cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    height: 100%;
}

.grade-input {
    width: 75px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}

.history-button {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    border: none;
    background-color: #eee;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    line-height: 1;
}

.data-table .rdt_TableCell {
    vertical-align: middle;
    text-align: center;
}

.student-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.student-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.remove-button {
    background-color: rgb(21, 137, 179);
    color: white;
    border: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.remove-button:hover {
    background-color: rgb(80, 199, 78);
}

.student-date {
    font-size: 12px;
    color: #888;
}

.grade-input::placeholder {
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    color: #888;
}

.grade-input {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}
