* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    height: 100vh;
    background-color: #f4f4f9;
    padding: 0 10px;
    width: 100%;
}

.data-table {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.data-table .container {
    max-width: 1200px;
    width: 100%;
    padding: 1rem;
}

.data-table-wrapper {
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.react-pagination {
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 20px;
}

.react-pagination button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.react-pagination button:hover {
    background-color: #0056b3;
}

.react-pagination button:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

.react-pagination span {
    font-size: 14px;
    margin: 0 10px;
}