.refresh-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 6px;
    transition: transform 0.2s ease-in-out;
}

.refresh-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.header-refresh {
    display: flex;
    justify-content: space-between;
}

.style-header {
    margin-bottom:3%;
}
.style-refresh {
    display: flex;
    align-items: flex-end;
    margin-bottom:3%;
}
